---
layout: style
---

#overview .section {
    text-align: center;
    overflow:visible;
    color: black;
    padding: 10% 0 0 0;
    
}

#overview .section .outer{
    display:flex;
    align-items:center;
    justify-content:center;
    /*border:1px solid #000;*/
}

#overview .section .panel{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0px 0px;
}

#overview .section .panel .title{
    font-size: 44px;
}

#overview .section .panel .description{
    font-size: 20px;
}

#overview .section .phone-image{
    height: 90vh;
    
}

#overview .section .phone-image img{
    height: 80vh;
}


@media(min-width:768px) {
    #overview .section .outer{
        height: 90vh;
    }
    #overview .section .phone-image{
        height: 90vh;
        position: relative;
        
    }
    #overview .section .phone-image img{
        width: auto;
        height: 80vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}

.title-img{
    line-height: 100px;
    padding: 0px;
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.title-img img{
    width: 100px;
}

.logo-shrink{
    opacity: 1; 
    overflow: hidden;
}

.logo-move{
    z-index: 999;
    position: absolute;
    left: 0px;
}

.download-btn{
    margin-top: 30px;
}


.download-btn a img{
    height: 60px;
    width: 170px;
}

@media(min-width:768px) {
    .title-img{
        position: relative;
        margin-left: 0;
        left: 0;
    }
    .title-img img{
        width: 120px;
    }
    
    .download-btn a:last-child{
        padding-left: 10px;
    }
        
}


.bootstrap-select .btn{
    padding: 20px;
   
}

.bootstrap-select .dropdown-menu{
    margin-top: 20px;
}

.bootstrap-select .dropdown-menu .text{
    line-height: 30px;
}