<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Summer 2015</h4>
                                    <h4 class="subheading">Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Andy, Ren, Wu Guan Xian and Erickson as a team to participate HackNTU 2015.</p>
                                    <p class="text-muted">After the hackathon, we decide do something to help student of our school.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fall 2015</h4>
                                    <h4 class="subheading">Sprout</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We decide to build an mobile APP to improve "Portal" (Name of school administration system) and new team member, ALitTLeQ join to us!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Winter 2015</h4>
                                    <h4 class="subheading">iOS Alpha 1 Released</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In Dec., we released alpha 1 on iOS platform.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan. 2016</h4>
                                    <h4 class="subheading">Decied to develop on Android platform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In the Jan. 2016, we got support from our school. Then we made a big decision, develop Android version. And add more feature to our APP.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Story
                                    <br>Wil
                                    <br>continue!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
