<!-- Overview Section -->
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="section-heading">關於 {{ site.title }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.description }}</h3>
                </div>
            </div>
            <div class="row section">
                <div class="col-sm-6 outer">
                    <div class="panel">
                        <h2 class="title">Dashbroad</h2>
                        <div class="description">匯集常用資訊入口</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="http://capso.cc/images/iphone-golden-01.png" alt="" class="phone-image">
                </div>
            </div>
            <div class="row section">
                <div class="col-sm-6 col-sm-push-6 outer">
                    <div class="panel">
                        <h2 class="title">虛擬教室</h2>
                        <div class="description">課程通知、作業、教材一覽無遺</div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-pull-6">
                    <img src="http://capso.cc/images/iphone-golden-01.png" alt="" class="phone-image">
                </div>
            </div>
            <div class="row section">
                <div class="col-sm-6 outer">
                    <div class="panel">
                        <h2 class="title">圖書館</h2>
                        <div class="description">借閱紀錄、圖書即時查詢</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <img src="http://capso.cc/images/iphone-golden-01.png" alt="" class="phone-image">
                </div>
            </div>
            
        </div>
    </section>
